Reading different data sources with the help of pandas

In [28]:
from io import StringIO

In [29]:
import pandas as pd
df=pd.read_csv("mercedesbenz.csv")

In [30]:
df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [31]:
type(df)

pandas.core.frame.DataFrame

In memory file object

In [32]:
data = ('col1,col2,col3\n'
        'x,y,1\n'
        'a,b,2\n'
        'p,q,3')

In [33]:
data

'col1,col2,col3\nx,y,1\na,b,2\np,q,3'

In [34]:
type(data)

str

In [35]:
## in memory file object
# Converting from string to inmemory file object
StringIO(data)

In [36]:
pd.read_csv(StringIO(data))

  col1 col2  col3
0    x    y     1
1    a    b     2
2    p    q     3

In [37]:
# only using some selective columns
pd.read_csv(StringIO(data), usecols=['col1','col2'])

  col1 col2
0    x    y
1    a    b
2    p    q

In [38]:
df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [39]:
df = pd.read_csv('mercedesbenz.csv', usecols= ['X0','X1','X2','X3','X4','X5'])
df.head()

   X0 X1  X2 X3 X4 X5
0   k  v  at  a  d  u
1   k  t  av  e  d  y
2  az  w   n  c  d  x
3  az  t   n  f  d  x
4  az  v   n  f  d  h

In [40]:
# converting in memory file to csv
df.to_csv('test.csv')

In [41]:
# getting rid of unecessary index
df.to_csv('test1.csv',index= False)

In [42]:
## datatypes in csv
data = ('a,b,c,d\n'
        '1,2,3,4\n'
        '4,5,6,7\n'
        '8,9,10')

In [43]:
df = pd.read_csv(StringIO(data))

In [44]:
df

   a  b   c    d
0  1  2   3  4.0
1  4  5   6  7.0
2  8  9  10  NaN

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int64
 1   b       3 non-null      int64
 2   c       3 non-null      int64
 3   d       2 non-null      float64
dtypes: float64(1), int64(3)
memory usage: 224.0 bytes

In [46]:
df = pd.read_csv(StringIO(data), dtype = object)

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      object
 1   b       3 non-null      object
 2   c       3 non-null      object
 3   d       2 non-null      object
dtypes: object(4)
memory usage: 224.0+ bytes

In [48]:
df.isnull().sum()

a    0
b    0
c    0
d    1
dtype: int64

In [50]:
df

   a  b   c    d
0  1  2   3    4
1  4  5   6    7
2  8  9  10  NaN

In [49]:
df['a']

0    1
1    4
2    8
Name: a, dtype: object

In [51]:
df['a'][0]

'1'

In [57]:
# Datatypes in CSV
data = ('a,b,c,d\n'
        '1,2,3,4\n'
        '5,6,7,8\n'
        '9,10,11')

In [54]:
df = pd.read_csv(StringIO(data), dtype = { 'a':int, 'b':float, 'c':int})

In [55]:
df

   a     b   c    d
0  1   2.0   3  4.0
1  5   6.0   7  8.0
2  9  10.0  11  NaN

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int64
 1   b       3 non-null      float64
 2   c       3 non-null      int64
 3   d       2 non-null      float64
dtypes: float64(2), int64(2)
memory usage: 224.0 bytes

In [59]:
df.dtypes

a      int64
b    float64
c      int64
d    float64
dtype: object

In [60]:
# new  example
data = ('index,a,b,c\n'
        '4,apple,bat,5.7\n'
        '8,orange,cow,10')

In [61]:
df = pd.read_csv(StringIO(data))

In [62]:
df

   index       a    b     c
0      4   apple  bat   5.7
1      8  orange  cow  10.0

In [63]:
df = pd.read_csv(StringIO(data), index_col = 0)

In [64]:
df

            a    b     c
index
4       apple  bat   5.7
8      orange  cow  10.0

Use of index cols and usecols

In [65]:
data = ('a,b,c\n'
        '4,apple,bat\n'
        '8,orange,cow')

In [66]:
df = pd.read_csv(StringIO(data), usecols = ['a','b','c'],
                 index_col=0)

In [67]:
df

        b    c
a
4   apple  bat
8  orange  cow

Reading file from URL

In [70]:
pd.read_csv('https://download.bls.gov/pub/time.series/cu/cu.item', sep='\t')

HTTPError: HTTP Error 403: Forbidden

In [71]:
pd.read_csv('https://download.bls.gov/pub/time.series/cu/cu.item', sep='\t').to_csv('test2.csv')

HTTPError: HTTP Error 403: Forbidden