JSON

In [7]:
data = '{"employee_name": "James", "email" : "james@gmail.com","job_profile":[{"title": "Team Lead", "title2": "Sr.developer"}]}'
# you can check if it's valid json file

In [3]:
data

'{"employee_name": "James", "email" : "james@gmail.com","job_profile": [{"title": "Team Lead", "title2": "Sr.developer"}]}'

In [4]:
type(data)

str

In [5]:
import pandas as pd

In [6]:
pd.read_json(data)

,employee_name,email,job_profile
0,James,james@gmail.com,"{'title': 'Team Lead', 'title2': 'Sr.developer'}"

In [8]:
pd.read_json(data, orient = 'records')

,employee_name,email,job_profile
0,James,james@gmail.com,"{'title': 'Team Lead', 'title2': 'Sr.developer'}"

In [9]:
pd.read_json(data, orient= 'index')

                                                               0
employee_name                                              James
email                                            james@gmail.com
job_profile    [{'title': 'Team Lead', 'title2': 'Sr.develope...