In [2]:
import numpy as np
import pandas as pd

In [5]:
transactions = pd.read_csv("transactions.csv")

transactions.head(5)

         date  store_nbr  transactions
0  2013-01-01         25           770
1  2013-01-02          1          2111
2  2013-01-02          2          2358
3  2013-01-02          3          3487
4  2013-01-02          4          1922

In [6]:
transactions_series = pd.Series(transactions["transactions"])

transactions_series.iloc[:5]

0     770
1    2111
2    2358
3    3487
4    1922
Name: transactions, dtype: int64

In [7]:
transactions_series.sum()

141478945

In [8]:
transactions_series.mean()

1694.6021583940208

In [9]:
transactions_series.quantile()

1393.0

In [10]:
transactions_series.quantile([.5])

0.5    1393.0
Name: transactions, dtype: float64

In [11]:
transactions_series.quantile([.5], interpolation = "nearest" )

0.5    1393
Name: transactions, dtype: int64

In [13]:
transactions_series.head(6)

0     770
1    2111
2    2358
3    3487
4    1922
5    1903
Name: transactions, dtype: int64

In [12]:
transactions_series.iloc[5]

1903

In [16]:
transactions_series.iloc[:5]

0     770
1    2111
2    2358
3    3487
4    1922
Name: transactions, dtype: int64

In [15]:
transactions_series.iloc[:5].quantile([.5])

0.5    2111.0
Name: transactions, dtype: float64

In [36]:
transactions_series[:5].quantile([.4], interpolation="nearest")

0.4    2111
Name: transactions, dtype: int64