In [26]:
import pandas as pd
import numpy as np

In [27]:
my_series = pd.Series([np.NaN] * 5)

my_series

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
dtype: float64

In [28]:
my_series.isna()

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [29]:
my_series.isna().sum()

5

In [30]:
my_series.isna().mean()

1.0

# pandas NaN array

In [31]:
my_series = pd.Series([pd.NA] * 5)

my_series

0    <NA>
1    <NA>
2    <NA>
3    <NA>
4    <NA>
dtype: object

In [32]:
my_series = my_series.astype("Int64")

my_series

0    <NA>
1    <NA>
2    <NA>
3    <NA>
4    <NA>
dtype: Int64

In [33]:
my_series.value_counts()

Series([], Name: count, dtype: Int64)

In [35]:
my_series.value_counts(dropna=False)

<NA>    5
Name: count, dtype: Int64

In [36]:
my_series = pd.Series(range(5))

In [37]:
my_series

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [38]:
my_series.loc[1:2] = pd.NA

In [39]:
my_series

0    0.0
1    NaN
2    NaN
3    3.0
4    4.0
dtype: float64

In [40]:
my_series.isna()

0    False
1     True
2     True
3    False
4    False
dtype: bool

In [43]:
my_series.value_counts(dropna = False)

NaN    2
0.0    1
3.0    1
4.0    1
Name: count, dtype: int64

# filling

In [44]:
my_series.fillna(0)

0    0.0
1    0.0
2    0.0
3    3.0
4    4.0
dtype: float64

In [45]:
my_series.fillna(my_series.mean())

0    0.000000
1    2.333333
2    2.333333
3    3.000000
4    4.000000
dtype: float64

# dropping

In [46]:
my_series.dropna()

0    0.0
3    3.0
4    4.0
dtype: float64

In [47]:
my_series.dropna().reset_index()

   index    0
0      0  0.0
1      3  3.0
2      4  4.0

In [48]:
my_series.dropna().reset_index(drop=True)

0    0.0
1    3.0
2    4.0
dtype: float64