In [1]:
import numpy as np
import pandas as pd

In [3]:
my_series = pd.Series(np.arange(5),
                      index = ['Day 0','Day 0','Day 0','Day 2','Day 2'])

my_series.index

Index(['Day 0', 'Day 0', 'Day 0', 'Day 2', 'Day 2'], dtype='object')

In [4]:
my_series['Day 0']

Day 0    0
Day 0    1
Day 0    2
dtype: int32

In [5]:
my_series['Day 2']

Day 2    3
Day 2    4
dtype: int32

In [6]:
my_series['Day 0':'Day 2']

Day 0    0
Day 0    1
Day 0    2
Day 2    3
Day 2    4
dtype: int32

In [7]:
my_series['Day 0']

Day 0    0
Day 0    1
Day 0    2
dtype: int32

In [8]:
my_series['Day 0'][1]

1

In [9]:
my_series.reset_index()

   index  0
0  Day 0  0
1  Day 0  1
2  Day 0  2
3  Day 2  3
4  Day 2  4

In [10]:
my_series.reset_index(drop=True)

0    0
1    1
2    2
3    3
4    4
dtype: int32