In [1]:
import numpy as np
import pandas as pd

In [2]:
my_series = pd.Series([1, np.NAN, 2 , 3, 4],
                      index = ['day 0','day 1','day 2','day 3','day 4'])

my_series

day 0    1.0
day 1    NaN
day 2    2.0
day 3    3.0
day 4    4.0
dtype: float64

In [3]:
my_series + 1

day 0    2.0
day 1    NaN
day 2    3.0
day 3    4.0
day 4    5.0
dtype: float64

In [4]:
my_series.add(1)

day 0    2.0
day 1    NaN
day 2    3.0
day 3    4.0
day 4    5.0
dtype: float64

In [8]:
my_series2 = my_series.add(1, fill_value=0).astype(int)

my_series2

day 0    2
day 1    1
day 2    3
day 3    4
day 4    5
dtype: int32

In [10]:
my_series2 / 2

day 0    1.0
day 1    0.5
day 2    1.5
day 3    2.0
day 4    2.5
dtype: float64

In [12]:
my_series2 * 2

day 0     4
day 1     2
day 2     6
day 3     8
day 4    10
dtype: int32

In [13]:
my_series2 // 2

day 0    1
day 1    0
day 2    1
day 3    2
day 4    2
dtype: int32

In [14]:
my_series2 + my_series

day 0    3.0
day 1    NaN
day 2    5.0
day 3    7.0
day 4    9.0
dtype: float64

In [15]:
my_series2.add(my_series, fill_value = 0)

day 0    3.0
day 1    1.0
day 2    5.0
day 3    7.0
day 4    9.0
dtype: float64

In [24]:
(my_series + my_series2 * 2) / 2

day 0    2.5
day 1    NaN
day 2    4.0
day 3    5.5
day 4    7.0
dtype: float64