In [1]:
import numpy as np
import pandas as pd

In [2]:
string_series = pd.Series(['Day 0','Day 1','Day 2','Day 3','Day 4'])

string_series

0    Day 0
1    Day 1
2    Day 2
3    Day 3
4    Day 4
dtype: object

In [3]:
string_series.str.contains("1")

0    False
1     True
2    False
3    False
4    False
dtype: bool

In [4]:
string_series.str.contains("3")

0    False
1    False
2    False
3     True
4    False
dtype: bool

In [6]:
string_series.str.contains("Day")

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [7]:
string_series.str.contains("Day 4")

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [8]:
string_series.str.upper()

0    DAY 0
1    DAY 1
2    DAY 2
3    DAY 3
4    DAY 4
dtype: object

In [9]:
string_series.str.upper().str.contains("DAY 3")

0    False
1    False
2    False
3     True
4    False
dtype: bool

In [10]:
string_series.str.strip("Day")

0     0
1     1
2     2
3     3
4     4
dtype: object

In [14]:
string_series.str.strip('Day').astype('int')

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [15]:
string_series.str[-1]

0    0
1    1
2    2
3    3
4    4
dtype: object

In [16]:
string_series.str[-1].astype('int')

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [18]:
string_series

0    Day 0
1    Day 1
2    Day 2
3    Day 3
4    Day 4
dtype: object

In [17]:
string_series.str[2:4]

0    y
1    y
2    y
3    y
4    y
dtype: object

In [19]:
string_series.str[1:3]

0    ay
1    ay
2    ay
3    ay
4    ay
dtype: object

In [23]:
string_series.str.split(' ')

0    [Day, 0]
1    [Day, 1]
2    [Day, 2]
3    [Day, 3]
4    [Day, 4]
dtype: object

In [24]:
string_series.str.split(' ', expand=True)

     0  1
0  Day  0
1  Day  1
2  Day  2
3  Day  3
4  Day  4