Pandas XML

In [3]:
import pandas as pd

data = pd.read_xml("test.xml")

In [4]:
data

      shape  degrees  sides
0    square      360    4.0
1    circle      360    NaN
2  triangle      180    3.0

In [5]:
xml = '''<?xml version='1.0' encoding='utf-8'?>
<data xmlns="http://example.com">
 <row>
   <shape>square</shape>
   <degrees>360</degrees>
   <sides>4.0</sides>
 </row>
 <row>
   <shape>circle</shape>
   <degrees>360</degrees>
   <sides/>
 </row>
 <row>
   <shape>triangle</shape>
   <degrees>180</degrees>
   <sides>3.0</sides>
 </row>
</data>'''

In [6]:
pd.read_xml(xml)

      shape  degrees  sides
0    square      360    4.0
1    circle      360    NaN
2  triangle      180    3.0

In [12]:
xml = '''<?xml version='1.0' encoding='utf-8'?>
<data xmlns="http://example.com">
 <row>
   <shape>square</shape>
   <degrees>360</degrees>
   <sides>4.0</sides>
   <firstname>Allen</firstname>
 </row>
 <row>
   <shape>circle</shape>
   <degrees>360</degrees>
   <sides/>
   <firstname/>
 </row>
 <row>
   <shape>triangle</shape>
   <degrees>180</degrees>
   <sides>3.0</sides>
   <firstname/>
 </row>
</data>
'''

In [13]:
pd.read_xml(xml)

      shape  degrees  sides firstname
0    square      360    4.0     Allen
1    circle      360    NaN      None
2  triangle      180    3.0      None

In [17]:
namespaces = {'ns': 'http://example.com'}
df = pd.read_xml(xml, xpath=".//ns:row", namespaces=namespaces)

In [18]:
df

      shape  degrees  sides firstname
0    square      360    4.0     Allen
1    circle      360    NaN      None
2  triangle      180    3.0      None

In [19]:
df.to_xml("test1.xml")

In [ ]:
df.to_html("test.html")