In [1]:
import numpy as np
import pandas as pd

In [3]:
my_series = pd.Series([0, 1, 2, 3, 4], 
                      index=["day 0","day 1","day 2","day 3","day 4"])

my_series

day 0    0
day 1    1
day 2    2
day 3    3
day 4    4
dtype: int64

In [4]:
my_series == 2

day 0    False
day 1    False
day 2     True
day 3    False
day 4    False
dtype: bool

In [10]:
my_series != 2

day 0     True
day 1     True
day 2    False
day 3     True
day 4     True
dtype: bool

In [22]:
# eq() is equal(==)
my_series.eq(2)

day 0    False
day 1    False
day 2     True
day 3    False
day 4    False
dtype: bool

In [14]:
my_series.loc[my_series != 2]

day 0    0
day 1    1
day 3    3
day 4    4
dtype: int64

In [15]:
my_series.loc[~(my_series != 2)]

day 2    2
dtype: int64

In [16]:
my_series.loc[my_series.isin([1, 2])]

day 1    1
day 2    2
dtype: int64

In [17]:
my_series.loc[~my_series.isin([1, 2])]

day 0    0
day 3    3
day 4    4
dtype: int64

In [18]:
my_series.loc[my_series > 2]

day 3    3
day 4    4
dtype: int64

In [19]:
my_series.loc[~(my_series > 2)]

day 0    0
day 1    1
day 2    2
dtype: int64

In [23]:
# gt() is greater(>)
my_series.loc[~my_series.gt(2)]

day 0    0
day 1    1
day 2    2
dtype: int64

In [25]:
mask = my_series.isin([1, 2]) | (my_series > 2)

my_series.loc[mask]

day 1    1
day 2    2
day 3    3
day 4    4
dtype: int64

In [24]:
mask = my_series.isin([1, 2]) | my_series.gt(2)

my_series.loc[mask]

day 1    1
day 2    2
day 3    3
day 4    4
dtype: int64

In [26]:
mask = my_series.isin([1, 2]) & my_series.gt(2)

my_series.loc[mask]

Series([], dtype: int64)